.project-edit-page {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  .requests-block {
    @include block(35%,2%,1%);
    flex:1;
    max-height: 500px;
    overflow: auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li+li{
        margin-top: 20px;
      }
      .profile {
        overflow: hidden;
        .user-pic {
          float: left;
          height:50px;
          width: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
        }
        a {
          display: block;
        }
        .user-name {
          font-size: 1.1em;
          line-height: 30px;
        }
        .accept {
          @include button-border($dark-color);
          @extend .button-small;
          float: left;
        }
        .decline {
          @include button-border($red-color,1px,1px,1px,0px);
          @extend .button-small;
          float: left;
        }
      }
    }
  }
  .team-block{
    @include block(35%,1%,1%);
    flex: 1;
    max-height: 500px;
    overflow: auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li+li{
        margin-top: 20px;
      }
      .profile {
        overflow: hidden;
        .user-pic {
          float: left;
          height:50px;
          width: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;

        }
        .user-name {
          font-size: 1.1em;
          line-height: 30px;
        }
        .message {
          @include button-border($dark-color);
          @extend .button-small;
          float: left;
        }
        .kick {
          @include button-border($red-color,1px,1px,1px,0px);
          @extend .button-small;
          float: left;
        }
      }
    }
  }
  .settings-block {
    flex: 2;
    @include block(100%,1%,2%)
  }
  .edit-block {
    flex: 2;
    @include block(100%,2%,2%);
    form {
      width: 100%;
      margin: auto;
      overflow: hidden;

      textarea[name='short-description'] {
        resize: none;
      }
      .description-block {
        overflow: hidden;
        .description {
          float: left;
          width: 50%;
        }
        #description {
          resize: none;
          height: 20em;
          width: 90%
        }

        .preview {
          @extend textarea;
          width: 50%;
          height: 20em;
          float: right;
          overflow: auto;
        }
      }

      button {
        float: right;
        @include button-border($dark-color);
        @extend .button-medium;
      }
    }
  }
}