.chat {
  flex: 1;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  .messages {
    flex: 5;
    display: flex;
    flex-direction: column;
    .others {
      .user-pic {
        float: left;
        margin-right: 20px;
      }
      .message-box {
        float: left;
      }
      a {
        color: $red-color;
      }
      a:hover {
        color: $red-accent-color;
      }
    }
    .my {
      .user-pic {
        margin-left: 20px;
        float: right;
      }
      .message-box {
        float: right;
      }
      a {
        color: $primary-accent-color;
      }
      a:hover {
        color: $primary-color;
      }
    }
    .messages-list {
      margin: 20px 20px 0 20px;

      flex: 1;
      list-style: none;
      padding: 0;

      .message {
        overflow: hidden;
        .user-pic {
          height: 30px;
          width: 30px;
          border-radius: 5%;
        }
        .messager-name{
          display: block;
          font-size: 1.1em;
          margin-bottom: 10px;
        }

        .message-box {
          padding:8px 15px 12px 15px;
          background-color: $white-color;
          min-width: 30%;
          max-width: 80%;
        }
      }
    }
    .input-box {
      padding: 10px 10px 0 10px;
      background-color: $white-color;
      border-top: 1px solid $light-color;
      display: flex;
      flex-direction: row;
      #message {
        flex: 1;
        align-self: flex-end;
        height: 6em;
        resize: none;
        margin: 10px;
      }
      .send {
        align-self: flex-end;
        @include button-border($dark-accent-color);
        @extend .button-medium;
        margin: 10px;
        &:hover {
          background-color: $dark-color;
        }
      }
    }
  }
  .team {
    flex: 2;
    background-color: $white-accent-color;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .profile {
      overflow: hidden;
      margin: 20px 30px 10px 30px;
      .profile-info {
        .name {
          font-size: 1.2em;
        }
        .role {
          color: $dark-accent-color;
          font-size: 0.9em;
        }
      }
      .profile-pic {
        img {
          float: left;
          height: 50px;
          width: 50px;
          border-radius: 5%;
          overflow: hidden;
          margin-right: 20px;
        }
      }
    }
  }
}