<template name="privateMessagesLayout">
  {{>header }}
  <div class="private-messages-list">
    <div class="messager-list-block">
      {{#each userList}}
        <a href="{{pathFor 'privateMessage'}}">
          <div class="profile">
            <img src="{{this.profile.photo}}" alt="">
            <a class="name" href="{{pathFor 'userPage'}}">{{this.profile.name}}</a>
            <!--<div class="unreaded">5 unreaded messages</div>-->
          </div>
        </a>
      {{/each}}
    </div>
    <div class="messages-block">
      {{>yield}}
    </div>
  </div>
</template>