.home {
  flex-direction:row;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.user-info {
  @include block(40%,2%,1%);
  flex: 2;
  img {
    max-width: 50%;
  }
}

.user-block {
  @include block(40%,1%,2%);
  flex: 5;
}
