.header-component {
  min-height: 50px;
  color: $white-color;
  background: $dark-color;
  font-family: $primary-font;
  margin: 0;
  .brand a {
    font-family: $head-font;
    line-height: 50px;
    font-size: 2em;
    float: left;
    padding-left: 15px;
    color: $white-color;
    &:hover {
      color: $light-color;
    }
  }
  .links {
    float: right;
    padding-right: 10px;
  }
  .links a {

    line-height: 50px;
    vertical-align: middle;
    @include button-border($white-color);
    @extend .button-medium;
    margin-right: 10px;
  }
}