<template name="header">
  <div class="header-component">
    <div class="brand">
      <a href="{{pathFor 'home'}}">Tempel</a>
    </div>
    <div class="links">

      {{#if currentUser}}
        <a href="{{pathFor 'signin'}}">Home</a>
        <a href="{{pathFor 'projectsList'}}">Projects</a>
        <a href="{{pathFor 'signin'}}">About</a>
        <a href="{{pathFor 'signin'}}">Contact</a>
      {{else}}
        <a href="{{pathFor 'signin'}}">Sign in</a>
        <a href="{{pathFor 'signup'}}">Sign Up</a>
        <a href="{{pathFor 'about'}}">About</a>
        <a href="{{pathFor 'contact'}}">Contact</a>
      {{/if}}
    </div>
  </div>
</template>