.signup-page {
  @include block(50%);

  form {
    width: 100%;
    margin: auto;
    overflow: hidden;

    .file-label {
      @extend .file-label
    }

    button {
      float: right;
      @include button-border($dark-color);
      @extend .button-medium;
    }
  }
}