@mixin block($width,$margin-x-left:auto,$margin-x-right:auto){
  max-width: $width;
  min-width: 300px;
  margin: 20px $margin-x-right 20px $margin-x-left;
  padding: 20px 30px 30px 30px ;
  border: 1px solid lighten($light-color,10%);
  background-color: $white-color;
  font-family: $primary-font;
}
