@mixin block($width){
  width: $width;
  margin: 2% auto;
  padding: 20px 30px 40px 30px ;
  border: 1px solid lighten($light-color,10%);
  background-color: $white-color;
  font-family: $primary-font;
}