%button-preset {
  letter-spacing: 0.1em;
  font-weight: 300;
  margin: 10px;
  text-decoration: none;
  transition: 0.3s ease;
  text-transform: capitalize;

}

@mixin button-border ($color,$border-size: 1px){
  @extend %button-preset;
  color:$color;
  border: $border-size $color solid;
  &:hover {
    background-color: $color;
    color:#000;
  }
}

@mixin button-border-bottom ($color,$border-size : 1px){
  @extend %button-preset;
  color:$color;
  border-bottom: $border-size $color solid;
  &:hover {
    background-color: $color;
    color:#000;
  }
}

.button-large {
  font-size: 24px;
  padding: 2px 40px;
}

.button-medium {
  font-size: 18px;
  padding: 3px 35px;
}

.button-small {
  font-size: 13px;
  padding: 5px 20px;
}
