%button-preset {
  letter-spacing: 0.1em;
  font-weight: 300;
  font-family: $primary-font;
  text-decoration: none;
  transition: 0.3s ease;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  margin: 0px;
  cursor:pointer;
  & + & {
    margin-left: 10px;
  }
}

@mixin button-border($color,$border-top: 1px,$border-right: 1px,$border-bottom: 1px,$border-left: 1px) {
  @extend %button-preset;
  color: $color;
  border-color: $color;
  border-style: solid;
  border-width : $border-top $border-right $border-bottom $border-left;
  &:hover {
    background-color: $color;
    @if (lightness($color) > 50) {
      color: #000 !important;
    } @else {
      color: #fff !important;
    }
  }
}

@mixin button-border-bottom($color,$border-size : 1px) {
  @extend %button-preset;
  color: $color;
  border-bottom: $border-size $color solid;
  &:hover {
    background-color: $color;
    @if (lightness($color) > 50) {
      color: #000 !important;
    } @else {
      color: #fff !important;
    }
  }
}

.button-large {
  font-size: 24px;
  padding: 2px 40px;
}

.button-medium {
   font-size: 14px;
   padding: 5px 20px;
 }

.button-bigmedium {
  font-size: 18px;
  padding: 3px 30px;
}

.button-small {
  font-size: 13px;
  padding: 3px 15px;
}

.no-spacing {
  letter-spacing: 0;
}