$white-color : #fff;

$primary-color: #1ABC9C;
$primary-accent-color: #16A085;

$secondary-color : #34495E;
$secondary-accent-color: #2C3E50;

$red-color: #dd4f4e;
$red-accent-color:#e68476;

$yellow-color: #FFCC00;
$yellow-accent-color:#FFCC00;

$dark-color:#2f302f;
$dark-accent-color:#4c4949;

$light-color:#ccc;
$light-accent-color:#e5e4e4;

//Fonts
$primary-font: 'Source Sans Pro', sans-serif;
$head-font: 'Roboto Slab', sans-serif;
